@import "compass";

@import "bootstrap";
/* @import "bootflat"; */
@import "local-variables";
@import "home";
@import "editing";
@import "css";

@import "ruler";
@import "guides";

body{
    min-height: 100vh;
    min-width: 100vw;

    &.checker {
        background: {
            color: #fff;
            image: url(/assets/paves.gif);
            repeat: repeat;
        }
    }

    .content {
        padding-top: 4em;
    }
}

.main {
    position: relative;
    padding: 0;

    > div {
        position: absolute;
        display: none;
        &.active {
            display: block;
        }
    }

    > .navbar {
        margin: 0;
    }
}